<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a181e2">  <td>21/01/30 16:52:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Switchcase.Switchcase()[pri:0, instance:TestNG_pack.Switchcase@5f16132a]">Switchcase</td> 
  <td>main@737945227</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>21/01/30 16:52:54</td>   <td>37</td> <td>&nbsp;</td><td title="&lt;&lt;Switchcase.aftertest()[pri:0, instance:TestNG_pack.Switchcase@5f16132a]">&lt;&lt;aftertest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@737945227</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>21/01/30 16:52:39</td>   <td>-14925</td> <td>&nbsp;</td><td title="&gt;&gt;Switchcase.beforeTest()[pri:0, instance:TestNG_pack.Switchcase@5f16132a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@737945227</td>   <td></td> </tr>
</table>
